%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function,

    strict_validation,
    warn_exported_vars
]}.

{deps, [
    {msgpack, {git,
        "https://github.com/msgpack/msgpack-erlang.git", {branch, "master"}
    }}
]}.

{plugins, [
    {rebar3_lint, "~> 3.2"}
]}.

{profiles, [
    {test, [
        {dialyzer, [{plt_extra_apps, [eunit, common_test, runtime_tools]}]}
    ]}
]}.

%% xref checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions,
    locals_not_used
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

%% Linter config
{elvis, [
    #{
        dirs => ["src", "test"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
            {elvis_text_style, line_length, #{limit => 100, skip_comments => false}},
            {elvis_style, param_pattern_matching, disable},
            {elvis_style, no_throw, disable},
            {elvis_style, export_used_types, disable},
            {elvis_style, no_if_expression, #{}},
            {elvis_style, state_record_and_type, disable},
            {elvis_style, god_modules, #{ignore => [
                tnt
            ]}}
        ]
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        rules => [
            {elvis_text_style, line_length, #{limit => 100, skip_comments => false}},
            {elvis_text_style, no_tabs},
            {elvis_text_style, no_trailing_whitespace}
        ]
    },
    #{
        dirs => ["src"],
        filter => "*.app.src",
        rules => [
            {elvis_text_style, line_length, #{limit => 100, skip_comments => false}},
            {elvis_text_style, no_tabs},
            {elvis_text_style, no_trailing_whitespace}
        ]
    }
]}.
